{% extends 'layout.html.twig' %}
{% block title %}
    Qui sommes nous ?
{% endblock %}
{% block body %}
<h4 class="h1 align-self-lg-start">Bâtir une communauté mondiale</h4>
<p class="align-self-center">CoworkingSpace a été fondé en 2010 avec l'ambition de créer des environnements où les personnes et les entreprises se réuniraient et donneraient le meilleur d'elles-mêmes. Depuis l'ouverture de notre premier site à New York, nous sommes devenus un fournisseur mondial de lieux de travail qui s'engage à fournir des solutions flexibles, des espaces stimulants et axés sur la sécurité, ainsi que des expériences communautaires inégalées. Aujourd'hui, nous repensons constamment comment l'espace de travail peut aider tout le monde—des travailleurs indépendants aux entreprises du classement Fortune 500—à être plus motivé, plus productif et plus satisfait, pour mieux évoluer dans le monde de demain.</p>
<hr class="my-4">
<p>En réinvestissant dans nos communautés mondiales, en créant des espaces respectueux de l'environnement et en amplifiant l'impact de nos membres, nous nous efforçons d'être l'avenir que nous souhaitons créer.</p>

{% endblock %}