
{% block body %}
    <footer class="footer-clean" style="background: #f5ffff;margin-left: 41px;margin-top: -1px;margin-bottom: 2px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item" style="border-radius: 0px;margin-bottom: -6px;margin-top: 137px;">
                    <h3>Services</h3>
                    <ul>
                        <li><a href={{ path('Reservation') }}">Reservation</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item" style="border-color: var(--bs-red);margin-top: 137px;">
                    <h3>A propos</h3>
                    <ul>
                        <li></li>
                        <li><a href="{{ path('about') }}">Avis</a></li>
                        <li><a href="{{ path('about') }}">Espace</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item" style="margin-top: 137px;">
                    <h3>Adresse</h3>
                    <ul>
                        <li><a href="{{ path('map') }}">Localisation</a></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social" style="margin-top: 137px;">
                    <h3>Besoin de plus d'informations?</h3><a href="#" style="margin-left: 12px;margin-right: 40px;">
                        <i class="icon ion-social-facebook"></i></a>
                    <a href="#" style="margin-right: 35px;"><i class="icon ion-social-twitter"></i></a><a href="#" style="margin-right: 28px;"><i class="icon ion-social-instagram"></i></a>
                    <p class="copyright">&nbsp; &nbsp; &nbsp; <br><br>&nbsp; Company Name © 2021&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
