
{% block body %}
<footer style="background: #f5ffff;">
    <div class="container">
        <footer class="footer-basic" style="background: #f5ffff;">
            <div class="social"><a href="#" style="color: var(--bs-red);border-top-color: var(--bs-pink);border-right-color: var(--bs-pink);border-bottom-color: var(--bs-pink);border-left-color: var(--bs-pink);"><i class="icon ion-social-instagram"></i></a><a href="#" style="border-top-color: var(--bs-blue);border-right-color: var(--bs-blue);border-bottom-color: var(--bs-blue);border-left-color: var(--bs-blue);"><i class="icon ion-social-twitter" style="color: var(--bs-blue);"></i></a><a href="#" style="border-top-color: rgb(20,25,150);border-right-color: rgb(10,18,88);border-bottom-color: rgb(10,29,123);border-left-color: rgb(13,26,98);"><i class="icon ion-social-facebook" style="color: rgb(0,15,152);"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#" style="color: rgb(0,0,0);">Accueil</a></li>
                <li class="list-inline-item"><a href="#" style="color: rgb(0,0,0);">Services</a></li>
                <li class="list-inline-item"><a href="#" style="color: rgb(0,0,0);">A propos</a></li>
                <li class="list-inline-item"><a href="#" style="color: rgb(0,0,0);">Adresse</a></li>
                <li class="list-inline-item"></li>
                <li class="list-inline-item"></li>
            </ul>
            <p class="copyright">Company Name © 2021</p>
        </footer>
    </div>
</footer>
{% endblock %}
