{% extends 'layout.html.twig' %}

{% block title %}No user found.{% endblock %}
{% block body %}
<h1>No user with the id : {{ id }} found.</h1>
<button>Search by a different id</button>
{% endblock %}