{% extends 'layout.html.twig' %}
   {% block title %}
       Services
   {% endblock %}
    {%  block body %}
        <h1>Liste des Services</h1>
        {{ reservation }}
        <ol class="list-group">

                <li class="list-group-item">
                    Elements
                </li>

        </ol>
    {% endblock %}