{% extends 'layout.html.twig' %}
{% block title %}
    Reservation salle
{% endblock %}
{% block body %}

    <div class="container" style="margin-top: 15px" >
    <h3>Reservation {{ salle }} </h3>
    <div class="container">
{{ form(form) }}

    </div>
    </div>

{% endblock %}